/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(https://fonts.gstatic.com/s/overpassmono/v5/_Xmq-H86tzKDdAPa-KPQZ-AC1i-0sw.ttf) format('truetype');
}
html,
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass Mono", monospace !important;
  font-weight: 300;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 2rem;
  color: white;
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.6rem;
  }
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 2.2rem;
}
.container {
  width: 100%;
}
a {
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
a:hover {
  background-color: #078b75;
  color: black;
}
button {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #078b75;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}
img {
  border-radius: 20px;
}
.fab {
  font-family: "Font Awesome 5 Brands" !important;
}
.nav-spacer {
  height: 60px;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #078b75;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  nav {
    padding: 10px 0;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}
nav .hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
  opacity: 1;
  pointer-events: none;
  background-color: black;
}
nav .hamburger div {
  width: 35px;
  height: 5px;
  margin: 6px 0;
}
nav .hamburger:hover {
  cursor: pointer;
}
nav .hamburger:hover span.slice {
  background-color: #b9bbbd;
}
nav .hamburger span.slice {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in-out;
}
nav.open .hamburger span.cheese.slice {
  opacity: 0;
}
nav.open .hamburger span.lettuce.slice {
  transform-origin: center left;
  transform: rotate(43deg);
}
nav.open .hamburger span.beef.slice {
  transform-origin: center left;
  transform: rotate(-43deg);
}
nav.open .linkWrapper {
  opacity: 1;
  display: flex;
  pointer-events: initial;
}
nav h1 {
  color: white;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.2px;
}
nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 300;
  letter-spacing: 1.2;
  border: none;
  margin: 0;
}
footer {
  background-color: #078b75;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2.5%;
  letter-spacing: 1.2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}
.footer a {
  margin: 0 10%;
  transition: all 0.3s ease-in-out;
  color: white;
}
.footer a:hover {
  background-color: #078b75;
  color: black;
}
.footer .copyright {
  color: white;
  font-size: 0.5rem;
}
h2 {
  margin-bottom: 2%;
}
h3 {
  font-size: 2.8rem;
  margin-bottom: 2%;
}
#blog,
#recent,
#follow-us {
  color: #3db1ff;
}
#blog {
  text-align: center;
  font-size: 3rem;
}
.date {
  font-size: 0.8rem;
  margin: 1% 0;
}
.blog-section {
  display: flex;
  margin-bottom: 5%;
}
.blog-section .blog1 {
  padding-right: 5%;
}
@media (max-width: 800px) {
  .blog-section .blog1 {
    margin: 0 5px;
  }
}
@media (max-width: 800px) {
  .blog-section .image-growing {
    display: flex;
    justify-content: center;
  }
}
.blog-section .image-growing #growing-plant {
  text-align: center;
  height: 600px;
  width: 500px;
}
@media (max-width: 800px) {
  .blog-section .image-growing #growing-plant {
    height: 350px;
    width: 600px;
  }
}
@media (max-width: 500px) {
  .blog-section .image-growing #growing-plant {
    width: 90%;
    height: 200px;
    border-radius: 20px;
  }
}
.blog-section .content {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  width: 65%;
}
@media (max-width: 800px) {
  .blog-section .content {
    width: 100%;
    margin: 20px 0;
  }
}
@media (max-width: 800px) {
  .blog-section .content .all-posts {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .blog-section .content .all-posts {
    display: flex;
    flex-direction: column;
  }
}
.blog-section .content .post {
  margin: 5% 8%;
  padding: 2%;
  border: 2px solid #0097a7;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .blog-section .content .post {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
}
@media (max-width: 500px) {
  .blog-section .content .post {
    margin-bottom: 3%;
  }
}
.blog-section .content .follow {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .blog-section .content .follow {
    margin-top: 5%;
  }
}
.blog-section .content .follow a {
  font-size: 30px;
  color: #0097a7;
  transition: all 0.3s ease-in-out;
}
.blog-section .content .follow a:hover {
  color: black;
}
@media (max-width: 800px) {
  .blog-section {
    display: flex;
    flex-direction: column;
  }
}
.img-home {
  height: 400px;
  width: 50%;
}
@media (max-width: 500px) {
  .img-home {
    width: 90%;
    height: 200px;
  }
}
.section1 {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section1 h2 {
  margin: 2% 0;
}
.section1 .intro {
  margin: 1% 0;
}
.section1 button {
  width: 25%;
  margin: 2% auto;
  text-align: center;
}
@media (max-width: 800px) {
  .section1 button {
    width: 30%;
  }
}
.section2 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .section2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
}
.section2 .meet {
  margin: 0 5%;
}
.section3 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .section3 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
}
.section3 .work {
  margin: 5%;
}
.section3 p {
  margin: 3% 0;
}
.section3 button a {
  color: #243342;
}
.section4 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .section4 {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 5%;
  }
}
.section4 .mission {
  margin: 5%;
}
a,
button {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #078b75;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}
a.focus,
button {
  color: white;
  background: #078b75;
}
a.focus:hover,
button:hover {
  cursor: pointer;
  color: black;
}
a:hover {
  background-color: #078b75;
  color: black;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #078b75;
}
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
}
nav .hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}
nav .hamburger:hover {
  cursor: pointer;
}
nav .hamburger:hover span.slice {
  background-color: #b9bbbd;
}
nav .hamburger span.slice {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in-out;
}
nav.open .hamburger span.cheese.slice {
  opacity: 0;
}
nav.open .hamburger span.lettuce.slice {
  transform-origin: center left;
  transform: rotate(43deg);
}
nav.open .hamburger span.beef.slice {
  transform-origin: center left;
  transform: rotate(-43deg);
}
nav.open .linkWrapper {
  opacity: 1;
  display: flex;
  pointer-events: initial;
}
nav h1 {
  color: white;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.2px;
}
nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 300;
  letter-spacing: 1.2;
  border: none;
  margin: 0;
}
a.active {
  color: black;
  font-weight: 500;
}
.map {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.map:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgba(7, 45, 72, 0.8), rgba(195, 195, 195, 0.8));
}
.content {
  position: fixed;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 20px;
}
.contact {
  width: 80%;
  max-width: 1080px;
  display: flex;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  overflow: hidden;
}
.other {
  width: 60%;
  /* height:60%; */
  background-image: url(../images/chris-lee-70l1tDAI6rM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.other:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.form {
  width: 40%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form h1 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.flex-rev {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}
.flex-rev input,
.flex-rev textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
  -webkit-appearance: none;
}
.flex-rex textarea {
  height: 150px;
}
button {
  -webkit-appearance: none;
  margin-right: 0;
}
.info {
  position: relative;
  padding: 20px;
}
.info h2 {
  color: #078b75;
  font-size: 60px;
  padding-left: 80px;
  padding-bottom: 90px;
}
.info h3 {
  color: white;
  letter-spacing: 1px;
  margin-top: 20px;
  font-size: 40px;
}
.svg-wrap {
  display: flex;
  margin-top: 15px;
}
.svg-wrap a {
  border: 0;
  padding: 0;
  display: flex;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.svg-wrap a svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.2s ease-in-out;
  margin-right: 13px;
}
.svg-wrap a:hover svg {
  fill: #078b75;
  cursor: pointer;
}
.svg-wrap a:hover {
  background-color: transparent;
  color: #078b75;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .content {
    padding: 10px 0 0;
    display: block;
  }
  .map {
    display: none;
  }
  .contact {
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px;
  }
  .other {
    width: 100%;
    padding: 20px 0;
  }
  .form {
    width: 100%;
  }
}
@media screen and (max-height: 660px) {
  .content {
    align-items: flex-start;
  }
}
@media screen and (max-width: 660px) {
  nav .hamburger {
    opacity: 1;
    pointer-events: initial;
  }
  nav div.linkWrapper {
    top: 0;
    right: 0;
    position: fixed;
    height: 100vh;
    background-color: rgba(36, 51, 66, 0.9);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: center;
    will-change: transform;
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  nav div a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1.5;
    width: 100%;
    margin-bottom: 31px;
    text-align: center;
    font-size: 38px;
  }
}
