/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0 auto;
}
html,
body {
  font-family: "Overpass Mono";
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 2rem;
  color: white;
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.6rem;
  }
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 2.2rem;
}
.container {
  width: 100%;
}
a {
  text-decoration: none;
  margin: 0 10px;
}
button {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #078b75;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}
img {
  border-radius: 20px;
}
a.active {
  color: black;
  font-weight: 500;
}
.top {
  background-color: #078b75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2.5%;
  margin-bottom: 1%;
  letter-spacing: 1.2px;
  width: 100%;
}
.top a {
  color: white;
}
.top a:hover {
  background-color: #078b75;
  color: black;
}
@media (max-width: 800px) {
  .top {
    padding: 10px 0;
  }
}
@media (max-width: 500px) {
  .top {
    display: flex;
    flex-direction: column;
  }
}
.top .nav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
@media (max-width: 500px) {
  .top .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .top .nav a {
    margin: 5px 0;
  }
}
footer {
  background-color: #078b75;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2.5%;
  margin-bottom: 1%;
  letter-spacing: 1.2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer a {
  color: white;
}
footer a:hover {
  background-color: #078b75;
  color: black;
}
footer a {
  margin: 0 10%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}
.footer .copyright {
  color: white;
  font-size: 0.5rem;
}
h2 {
  margin-bottom: 2%;
}
h3 {
  font-size: 2.8rem;
  margin-bottom: 2%;
}
#blog,
#recent,
#follow-us {
  color: #3db1ff;
}
#blog {
  text-align: center;
  font-size: 3rem;
}
.date {
  font-size: 0.8rem;
  margin: 1% 0;
}
.blog-section {
  display: flex;
  margin-bottom: 5%;
}
.blog-section .blog1 {
  padding-right: 5%;
}
@media (max-width: 800px) {
  .blog-section .blog1 {
    margin: 0 5px;
  }
}
@media (max-width: 800px) {
  .blog-section .image-growing {
    display: flex;
    justify-content: center;
  }
}
.blog-section .image-growing #growing-plant {
  text-align: center;
  height: 600px;
  width: 500px;
}
@media (max-width: 800px) {
  .blog-section .image-growing #growing-plant {
    height: 350px;
    width: 600px;
  }
}
@media (max-width: 500px) {
  .blog-section .image-growing #growing-plant {
    width: 90%;
    height: 200px;
    border-radius: 20px;
  }
}
.blog-section .content {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  width: 65%;
}
@media (max-width: 800px) {
  .blog-section .content {
    width: 100%;
    margin: 20px 0;
  }
}
@media (max-width: 800px) {
  .blog-section .content .all-posts {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .blog-section .content .all-posts {
    display: flex;
    flex-direction: column;
  }
}
.blog-section .content .post {
  margin: 5% 8%;
  padding: 2%;
  border: 2px solid #0097a7;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .blog-section .content .post {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
}
@media (max-width: 500px) {
  .blog-section .content .post {
    margin-bottom: 3%;
  }
}
.blog-section .content .follow {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .blog-section .content .follow {
    margin-top: 5%;
  }
}
.blog-section .content .follow a {
  padding: 5px;
  color: #0097a7;
}
@media (max-width: 800px) {
  .blog-section {
    display: flex;
    flex-direction: column;
  }
}
.img-home {
  height: 400px;
  width: 50%;
}
@media (max-width: 500px) {
  .img-home {
    width: 90%;
    height: 200px;
  }
}
.section1 {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section1 h2 {
  margin: 2% 0;
}
.section1 .intro {
  margin: 1% 0;
}
.section1 button {
  width: 25%;
  margin: 2% auto;
  text-align: center;
}
@media (max-width: 800px) {
  .section1 button {
    width: 30%;
  }
}
.section2 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .section2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
}
.section2 .meet {
  margin: 0 5%;
}
.section3 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .section3 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
}
.section3 .work {
  margin: 5%;
}
.section3 p {
  margin: 3% 0;
}
.section3 button a {
  color: #243342;
}
.section4 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .section4 {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 5%;
  }
}
.section4 .mission {
  margin: 5%;
}
