.social-icons .a {
  display: none;
}
.img-fluid {
  width: 200px;
  width: 200px;
  border-radius: 10px;
}

img[src="images/IMG_20190807_172312_168.png"] {
  width: 200px;
  height: 200px;
}

img[src="images/0957f9c11ba2367 (1).jpg"] {
  width: 200px;
  height: 200px;
}
