footer {
  //   background-color: #078b75;
  .nav-bar-mixin();
  display: flex;
  flex-direction: column;
  text-align: center;
  //   position: fixed;
  //   bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  a {
    margin: 0 10%;
    .nav-a-mixin();
    color: white;
  }

  .copyright {
    color: white;
    font-size: 0.5rem;
  }
}
