* {
  box-sizing: border-box;
  margin: 0 auto;
}

html,
body {
  font-family: "Overpass Mono";
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: white;
  @media (max-width: 800px) {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 2.2rem;
}

.container {
  width: 100%;
}

a {
  .nav-link-mixin();
}

button {
  .button-mixin();
}

img {
  .image-mixin();
}

a.active {
  color: black;
  font-weight: 500;
}
