.section1 {
  margin: 1% 10%;
  width: 100%;
  text-align: center;

  h2 {
    margin: 2% 0;
  }

  .intro {
    margin: 2% 0;
    display: flex;
    justify-content: column;
    text-align: center;
  }

  button {
    margin: 2% 0;
  }
}

.section2 {
  display: flex;
  margin: 10% 0;
  .meet {
    margin: 5%;
  }
}

.section3 {
  display: flex;
  margin: 10% 0;
  .work {
    margin: 5%;
  }

  p {
    margin: 2% 0;
  }
}

.section4 {
  display: flex;
  margin: 10% 0;

  .mission {
    margin: 5%;
  }
}
