.nav-link-mixin(@decoration, @color) {
  text-decoration: @decoration;
  color: @color;
}

.nav-bar-mixin() {
  background-color: #078b75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  letter-spacing: 1.2px;

  a {
    color: white;
    // transition: 0.15s ease-in-out;
  }
  a:hover {
    background-color: #078b75;
    color: black;
  }
}

.button-mixin() {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #078b75;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}

.image-mixin() {
  border-radius: 20px;
}
