.nav-link-mixin() {
  text-decoration: none;
  margin: 0 10px;
}

.nav-bar-mixin() {
  background-color: #078b75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 2.5%;
  margin-bottom: 1%;
  letter-spacing: 1.2px;
  width: 100%;

  a {
    color: white;
  }
  a:hover {
    background-color: #078b75;
    color: black;
  }
}

.button-mixin() {
  display: inline-block;
  padding: 14px 30px;
  text-decoration: none;
  color: #243342;
  letter-spacing: 1.2px;
  font-size: 14px;
  border: 1px solid #078b75;
  border-radius: 7px;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}

.image-mixin() {
  border-radius: 20px;
}

.display-home-mixin() {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
